<div class="header">
    <a href="#default" style="font-family: 'Saira', sans-serif;
    " class="logo">Apna Ilaka</a>
    <div class="header-right">
        <table>
            <tr>
                <td style="padding:0px 15px"> Welcome Back
                        <b>  <%= user.name %>!</b></td>
                <td><a class="active" href="#home">Home</a></td>
                <td> <a href="#contact">Contact</a></td>
                <td><a href="#about">About</a></td>
                <td><a href="/logout"><i class="fa fa-sign-out"></i></a></td>
            </tr>
        </table>

    </div>
</div>