<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to <b>Utopia</b></title>
</head>

<body>
    <% include ./script.ejs %>
    <% include ./css.ejs %>
    <h1 style="margin: 18% 30% 5%; z-index: 1;">Welcome to <span style="font-size: 180%">A</span>pna <span style="font-size: 180%">I</span>laka</h1>

    <div class="button-holder">
        <p class="text-center">
            <button type="button" id="login_page" class="btn">Log in</button>
            <button type="button" id="signup_page" class="btn">Sign up</button>
        </p>
    </div>
</body>
<script>
    $('#signup_page').on('click',function(){  location.href = `/signup`;  });
    $('#login_page').on('click',function(){  location.href = `/login`;  });
</script>

</html>