<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
</head>

<body>
    <% include ./script.ejs %>
    <% include ./css.ejs %>
    <h1 style="margin:5% 0% 0% 0% " class="text-center">Create A account Now!</h1>
    <div style="margin: 3% 30% 3% 30%;">
        <div class="form-group">
            <label for="pwd">Name:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="pwd">UserName:</label>
            <input type="text" class="form-control" id="username">
        </div>

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password">
        </div>

        <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm_password">
        </div>

        <button type="button" id="signup" class="btn">Sign Up</button>
    </div>
    <script src="js/sign_up.js"></script>
</body>

</html>