body{
  background-color: #6d3b9d;
  color: #d9d9d9
}

button{
  background-color: transparent !important;
  border-color: whitesmoke  !important;
  padding: 10px !important;
  border-radius: 20px !important;
  margin: 3px 10px !important;
  font-size: 110% !important;
  transition-duration: 0.4s !important;
  color: bisque
}

input{
  color: aliceblue
}

button:hover {
  background-color: whitesmoke !important; 
  color: black !important;
}







@media only screen and (max-width: 768px) {
 .outer-div{
  margin:3% 25% 3% 25% !important;
 }
}